<h1>New game</h1>
  <div class="letter-container">
    <% @letters.each do |letter| %>
      <div class="letter"><%= letter %></div>
      <% end %>
  </div>
<p>What is the longest word you can create?</p>
<form action="/score" method="post">
  <input type="text" name="word" placeholder="Type a word" value="<%= params[:word] %>">
  <input type="submit" value="Play!">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>


